body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    flex-direction: column;
    gap: 50px;
}

.box-box {
    display: flex;
    gap: 65px;
    flex-wrap: wrap;
}

.cat-box {
    border: solid;
    border-width: 10px;
    border-radius: 5%;
}

.weather-box, .cat-box {
    width: 400px;
    height: 400px;
}

.weather-box {
    display: flex;
}

.weather-box p {
    margin-bottom: 15px;
    margin-left: 18px;
    font-size: 1.2em;
}

.weather-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

#temp {
    display: flex;
    align-items: center;
    font-size: 4.7em;
    font-weight: bold;
    border-right: solid;
    padding-right: 18px;
    height: 100%;
    width: min-content;
}
