body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    flex-direction: column;
    gap: 50px;
}

.box-box {
    display: flex;
    gap: 65px;
    flex-wrap: wrap;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fahrenheit {
    margin-top: 15px;
}

.weather-box {
    width: 500px;
    height: 300px;
}

.weather-box {
    display: flex;
}

.weather-box p {
    margin-bottom: 15px;
    margin-left: 22px;
    font-size: 1.2em;
}

.weather-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

#temp {
    display: flex;
    align-items: center;
    font-size: 4.7em;
    font-weight: bold;
    border-right: solid;
    padding-right: 22px;
    height: 100%;
    width: min-content;
}
